body {
    margin: 0px;
    padding: 0px;
}

body div {
    /* box-sizing: content-box !important; */
}

.bg-light {
    background-color: #e3e7ef !important;
}

.navbar-brand {
    font-size: 1.55rem !important;
}

.nav-link {
    font-size: 1.2rem !important;
    color: #01346F !important;
}

.search-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-bar {
    /* width: 100% !important; */
    height: calc(1.5em + 1.55rem + 2px) !important;
}

.search-header-container {
    padding-left: 15% !important;
    padding-right: 15% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.search-link-item {
    color: #01346F;
}

.search-bar-confirm-btn {
    color: #01346F !important;
    border: 1px solid #01346F !important;
}

.search-col {
    margin: 0px !important;
    padding: 0px !important;
}

.search-language-option {
    color: #01346F;
}


.search-result-header-container {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
}

.search-result-listed-list {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.search-result-navigation-item {
    color: #01346F;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.search-result-active {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px;
    padding: 5px;
}

.result-search-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-result-body-container {
    border-top: 1px solid black
}


.login-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    height: 500px;
}

.login-middle-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    padding: 10px;
}

.login-container-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container-header h1 {
    color: #01346F;
    font-size: 2.95rem;
    font-weight: 200 !important;
}

.search-login-icon {
    width: 60px !important;
    text-align: center !important;
}

.search-login-icon i {
    text-align: center !important;
    margin-left: 10px;
    color: #01346F;
}

.search-login-form-item {
    height: calc(1.5em + 1.35rem + 2px) !important;
}

.btn-login {
    color: #ffffff !important;
    background-color: #01D486 !important;
}

.btn-login:hover{
    color: #fff;
    background-color: #01346F !important;
}


.search-result-filter-header {
    margin: 0 !important;
    padding: 0 !important;
}

.column-filter {}

.search-result-filter-header-title {
    color: #01346F;
    font-weight: 200;
    text-align: center;
}

.search-result-filter-container {
    overflow: hidden;
    width: 100%;
    height: 450px;
    border-radius: 5%;
    margin-top: 98px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    position: relative;
}   

.search-result-filter-container div div {
    /* padding: 15px; */
}

.search-result-filter-volume-container {
    margin-bottom: 5px;
    float: left;
    width: 45% !important;
    margin-left: 17px;
}

.search-result-filter-form-volume {
    width: 60% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-result-download-container {
    overflow: hidden;
    width: 100%;
    height: 230px;
    border-radius: 5%;
    margin-top: 38px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    position: relative;
}

.search-result-download-header {
    margin: 0 !important;
    padding: 0 !important;
}

.search-result-download-header-title {
    color: #01346F;
    font-weight: 200;
    text-align: center;
}

.search-result-download-option {
    width: 100%;
}

.search-result-download-option label {
    float: left;
    width: 80%;
}

.search-result-download-link {
    color: #01346F;
    float: right;
}

.search-result-download-link:hover {
    color: #01346F;
    text-decoration: none;
}