body {
    margin: 0px;
    padding: 0px;
}

.search-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    /* width: 100% !important; */
}

.search-header-container {
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.search-link-item {
    color: blue;
}

.search-bar-confirm-btn {
    color: blue !important;
    border: 1px solid blue !important;
}

.search-col {
    margin: 0px;
    padding: 0px;
}

.search-language-option {
    color: blue;
}


.search-result-header-container {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
}

.search-result-listed-list {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.search-result-navigation-item {
    color: blue;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.search-result-active {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px;
    padding: 5px;
}

.search-result-body-container {
    border-top: 1px solid black
}


.login-container {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    height: 500px;
}

.login-middle-container {
    border: 1px solid black;
    border-radius: 5%;
    padding: 10px;
}

.login-container-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-container-header h1 {
    color: blue;
}

.btn-login {
    color: #ffffff !important;
    background-color: blue !important;
}