<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sleutelwoord zoeker</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <!-- CSS only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light search-header-container">
                <a class="navbar-brand" href="/">SleutelwoordZoeker</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link search-link-item" href="/" style="color: blue;">Sleutelwoorden zoeken</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link search-link-item" href="/volumes" style="color: blue;">Zoek volume</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% if username == "" %}
                                <a class="nav-link" style="color: blue;" href="/login">Login</a>
                            {% else %}
                                <a class="nav-link" style="color: blue;" href="/logout">{{ username }}</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 search-container">
                    <form action="/volumes_result" method="POST">
                        <div class="row">
                            <div class="col-md-12 search-col">
                                <div class="form-group">
                                    <textarea name="volumes" class="form-control" rows="15"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select name=language" class="form-control" id="search-volumes-lang">
                                                {% for x in languages %}
                                                    <option value="{{ x["language_code"] }}" {% if x["language_code"] == "nl" %} selected {% endif %}>{{ x["language_name"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select name=locations" class="form-control" id="search-volumes-loc">
                                                {% for x in locations %}
                                                    <option value="{{ x["location_code"] }}" >{{ x["location_name"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-bottom: 0px;">
                                    <input type="submit" name="submit" class="btn btn-block search-bar-confirm-btn" value="Zoeken" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>